table#invoice-table {
  table-layout: fixed;
}

table#invoice-table i {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

i.ready:after {
  content: "R";
  text-shadow: 0 0 3px green;
}

i.invoiced:after {
  content: "I";
  text-shadow: 0 0 3px blue;
}

i.new:after {
  content: "N";
  text-shadow: 0 0 3px yellow;
}

i.paid:after {
  content: "P";
  text-shadow: 0 0 3px orchid;
}

i.delete {
  margin: 0;
}

i.delete:after {
  content: "X";
  text-shadow: 0 0 3px red;
}

table#invoice-table span.custom-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#invoice-status-legend {
  width: fit-content;
  margin-bottom: 1rem !important;
}

#invoice-status-legend h6,
#invoice-status-legend ul,
#invoice-status-legend li {
  display: inline-block;
}

#invoice-status-legend li {
  margin-left: 1rem;
}

#invoice-filters ul {
  font-size: 1.1rem;;
}

#invoice-filters #filter-module-list li:last-child div.bot-separator {
  border: none;
}

#invoice-filters label span {
  color: black;
}

.filter-small.card {
  display: inline-block !important;
  width: fit-content;
}

.filter-small.card div,
.filter-small.card h6 {
  display: inline-block;
}

.filter-small.card label {
  margin-left: 1rem;
}

.filter-small.card label span {
  color: black;
  padding-left: 2.5rem;
}

.filter-small-module:nth-child(odd) {
  background: #ddd;
}

@media only screen and (min-width: 869px) {
  td.delete-cell {
    border-left: 1px solid black;
  }

  .hide-on-custom-med-and-up {
    display: none !important;
  }
}

@media only screen and (max-width: 868px) {
  table#invoice-table tbody tr {
    min-width: 20%;
    max-width: 100%;
  }

  td.delete-cell {
    border-top: 1px solid black;
  }

  table#invoice-table i.delete {
    margin: 0 0.5rem;
  }

  .hide-on-custom-med {
    display: none !important;
  }
}

@media only screen and (max-width: 868px) {
  table#invoice-table tbody tr {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 648px) {
  table#invoice-table tbody tr {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 600px) {
  table#invoice-table tbody tr {
    max-width: 25rem;
  }
}

@media only screen and (max-width: 500px) {
  table#invoice-table tbody tr {
    max-width: 20rem;
  }
}