#budget-data {
  padding: 0.5rem;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  thead.s-active, thead.s-active tr, thead.s-active th {
    background-color: green !important;
  }

  thead.s-passive, thead.s-passive tr, thead.s-passive th {
    background-color: red !important;
  }

  .s-active-text {
    color: green !important;
  }

  .s-passive-text {
    color: red !important;
  }

}