.valign-page-center {
  margin-top: Calc(20vh) !important;
}

.static {
  position: static !important;
}

.relative {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.italic {
  font-style: italic;
}

.line-through {
  text-decoration: line-through;
}

.upper-text {
  text-transform: uppercase;
}

.no-padding {
  padding: 0 !important;
}

.bolder {
  font-weight: bolder !important;
}

.mbold {
  font-weight: 500;
}

.side-by-side {
  white-space: nowrap;
}

.text-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.card {
  margin: 0.5rem !important;
  margin-bottom: 0 !important;
}

.card .row {
  margin-bottom: 0 !important;
}

.card-text {
  font-size: 1.5rem !important;
}

.card .card-content {
  padding: 0.2rem !important;
}

.page-title {
  margin-bottom: 1.5rem;
}

.price:after {
  content: " €";
}

.clear-flow {
  display: flow-root;
}

nav {
  background-color: #9fa8da !important;
}

nav ul a {
  font-size: 1.2 rem;
  text-transform: uppercase;
}

.custom-nav-content {
  margin-bottom: 0.5rem;
  position: relative;
  line-height: normal;
}

.custom-nav-content ul.custom-tabs {
  margin: auto;
  margin-right: 0;
  width: fit-content;
}

.custom-nav-content ul li {
  transition: background-color 0.3s;
  float: left;
  padding: 0;
}

.custom-nav-content ul a {
  transition: background-color 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
  padding: 0 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.input-field {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}

input[type="text"]:disabled,
input[type="number"]:disabled {
  border: none !important;
}

#menu-project-dd {
  overflow: hidden;
}

.btn-floating .navlink-awesome-icon {
  padding-left: 0.5rem;
}

.collapsible-header > div:first-of-type {
  width: 100%;
}

.collapsible-header,
.collapsible-body {
  padding: 0.5rem 1rem !important;
}

.collapsible-header i {
  margin: 0 !important;
}

.row {
  margin-bottom: 0.3rem !important;
}

.m-space-up {
  margin-top: 0.4rem !important;
}

.space-up {
  margin-top: 1rem !important;
}

.m-space-down {
  margin-bottom: 0.4rem !important;
}

.space-right {
  margin-right: 1rem !important;
}

.pad-left {
  padding-left: 1rem !important;
}

.bot-separator {
  border-bottom: 1px solid #ddd;
}

.document-type {
  font-style: italic;
}

th,
td {
  padding: 0.1rem !important;
}

#modal-resource {
  max-height: 100%;
  overflow: visible;
}

#wrapper-select-geo .select-wrapper .select-dropdown li img {
  border-radius: 20px;
  border: solid black;
}

select.browser-default {
  position: relative !important;
  cursor: pointer !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #9e9e9e !important;
  outline: none !important;
  height: 3rem !important;
  line-height: 3rem !important;
  width: 100% !important;
  font-size: 16px !important;
  margin: 0 0 8px !important;
  padding: 0 !important;
  display: block !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  z-index: 1 !important;
}

select.browser-default + label {
  top: -0.75rem !important;
  font-size: 0.8rem !important;
}

select.browser-default + label:not(.label-icon).active {
  transform: inherit !important;
  transform-origin: 0 0 !important;
}

select.browser-default > option {
  cursor: pointer !important;
  text-align: left !important;
  font-size: 1.3rem !important;
  color: #000;
  background-color: #d1c4e9;
}

.multi-select-wrapper > label {
  top: -0.75rem !important;
  font-size: 0.8rem !important;
}

select.browser-default > option:checked {
  background-color: indigo;
  color: white;
}

.select-wrapper > svg > path {
  d: path("M 10 10 L 14 14 L 18 10");
  fill: none;
  stroke: black;
}

.flag-small {
  width: 1.5rem;
  margin: 0 0.5rem;
}

.remove-site-icon {
  margin: 0 0.3rem;
}

.lateral-margin {
  margin: 0 1rem;
}

.logo-footer {
  max-height: 80px;
}

.page-footer {
  background-color: #fefefc !important;
}

.tabs,
.custom-tabs {
  height: 3rem !important;
}

.tabs .tab,
.custom-tabs .custom-action-tab {
  height: 3rem !important;
  line-height: 3rem !important;
}

.custom-tabs .custom-action-tab.active {
  background-color: indigo !important;
}

.tabs .tab a,
.custom-tabs .custom-action-tab a {
  color: indigo !important;
  font-size: 1rem !important;
} /*Black color to the text*/

.tabs .tab a:hover,
.custom-tabs .custom-action-tab a:hover {
  background-color: #eee !important;
  color: indigo !important;
} /*Text color on hover*/

.tabs .tab a.active,
.custom-tabs .custom-action-tab a.active {
  background-color: #e8eaf6 !important;
  color: indigo !important;
} /*Background and text color when a tab is active*/

.custom-tabs .custom-action-tab a.active {
  height: 93%;
}

.tabs .indicator {
  background-color: indigo !important;
} /*Color of underline*/


/* PRINT PAGE SCREEN */
.module-li {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.activity-li {
  border-bottom: 1px solid black;
}

#quotationGroup-print,
.activity-li:last-of-type {
  border: none !important;
}

.activity-print {
  padding-left: 1rem;
  border-top: 1px solid black;
}

/* MEDIA SECTION */
@media only screen and (min-width: 0) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 1200px) {
  html {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 600px) {
  .s-space-up {
    margin-top: 1rem;
  }

  .s-center {
    text-align: center !important;
  }

  .s-truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card .row {
    margin-bottom: 0 !important;
  }
}

@media print {
  #content,
  #page {
    width: 100%;
    margin: 0;
    float: none;
  }

  @page {
    margin: 150mm;
  }

  body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.2;
    background: #fff !important;
    color: #000;
  }

  a {
    page-break-inside: avoid;
  }
  blockquote {
    page-break-inside: avoid;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    page-break-after: avoid;
  }
  table,
  pre {
    page-break-inside: avoid;
  }
  ul,
  ol,
  dl {
    page-break-before: avoid;
  }

  .module-li {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .activity-li {
    border-bottom: 1px solid black;
  }

  #quotationGroup-print,
  .activity-li:last-of-type {
    border: none !important;
  }

  .activity-print {
    padding-left: 1rem;
    border-top: 1px solid black;
  }
}
