.valign-page-center {
    margin-top: Calc(20vh) !important;
}

.static {
    position: static !important;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.italic {
    font-style: italic;
}

.line-through {
    text-decoration: line-through;
}

.no-padding {
    padding: 0 !important;
}

.bolder {
    font-weight: bolder;
}

.mbold {
    font-weight: 500;
}

.side-by-side {
    white-space: nowrap;
}

.text-right {
    text-align: right;
}

.card .card-content {
    padding: 1rem !important;
}

.card .card-action {
    border-top: 1px solid rgba(255,255,255,1);
    padding: 1rem 1.5rem !important;
}

.page-title {
    margin-bottom: 1.5rem;
}

.price:after {
    content: ' €';
}

.clear-flow {
    display: flow-root;
}

#menu-project-dd {
    overflow: hidden;
}

.fixed-action-btn.static li {
    margin-top: 20px !important;
}

.collapsible-header > div:first-of-type {
    width: 100%;
}

.collapsible-header, .collapsible-body {
    padding: 0.5rem 1rem !important;
}

.row {
    margin-bottom: 1rem !important;
}

.space-up {
    margin-top: 1rem;
}

.space-right {
    margin-right: 1rem;
}

.document-type {
    font-style: italic;
}

th, td {
    padding: 0.1rem !important;
}

#modal-resource {
    max-height: 100%;
    overflow: visible;
}

#wrapper-select-geo .select-wrapper .select-dropdown li img {
    border-radius: 20px;
    border: solid black;
}

.flag-small {
    width: 1.5rem;
    margin: 0 0.5rem;
}

.remove-site-icon {
    margin: 0 0.3rem;
}

.lateral-margin {
    margin: 0 1rem;
}

.logo-footer {
    max-height: 80px;
}

.page-footer {
    background-color: #fefefc !important;
}

.tabs .tab a{
  color:indigo !important;
} /*Black color to the text*/

.tabs .tab a:hover {
  background-color:#eee !important;
  color:indigo !important;
} /*Text color on hover*/

.tabs .tab a.active {
  background-color:#e8eaf6 !important;
  color:indigo !important;
} /*Background and text color when a tab is active*/

.tabs .indicator {
  background-color:indigo !important;
} /*Color of underline*/

@media only screen and (min-width: 0) {
    html {
        font-size: 12px !important;
    }
}

@media only screen and (min-width: 992px){
    html {
        font-size: 12.5px !important;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 600px) {
    .s-space-up {
        margin-top: 1rem;
    }

    .s-center {
        text-align: center !important;
    }

    .s-truncate {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}